{
  "extends": "eslint:recommended",
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "globals": {
    "ActiveXObject": true,
    "Enumerator": true,
    "GetObject": true,
    "WSH": true,
    "WScript": true
  }
}
